<div class="featured-grid">
  {% assign featured = site.projects | where: "featured", true | sort: "order" %}
  {% for project in featured %}
    <div class="card">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        {% if project.tags %}
        <p class="tags">
        {% for tag in project.tags %}
            <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
        {% endfor %}
        </p>
        {% endif %}
        <a class="stretched-link" href="{{ project.url }}" aria-label="{{ project.name }} projesine git"></a>
    </div>
  {% endfor %}
</div>
